.amenities-section {
    padding: 40px 20px;
    background-color: #f7f7f7;
  }
  
  .amenities-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .amenity-card {
    background: #2A4630;
    padding: 25px 20px;
    text-align:left;
    border-radius: 8px;
    transition: background-color 0.3s ease, color 0.3s ease;
    box-shadow: 0 4px 10px rgba(0,0,0,0.06);
    cursor: pointer;
    color: #D7BC77;
  }
  
  .amenity-card:hover {
    background-color: #D7BC77; /* Green hover */
    color: #2A4630;
  }
  
  .amenity-icon {
    width: 65px;
    height: 60px;
    margin-bottom: 12px;
    object-fit: contain;
    transition: filter 0.3s ease;
    align-items: center;
  }
  
  .amenity-title {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 8px;
    color: inherit;
  }
  
  .amenity-desc {
    font-size: 14px;
    color: inherit;
    transition: color 0.3s ease;
  }
  
  @media screen and (max-width: 768px) {
    .amenities-section {
      padding: 20px 10px;
    }
  
    .amenity-card {
      padding: 20px 15px;
    }
  
    .amenity-title {
      font-size: 16px;
    }
  
    .amenity-desc {
      font-size: 13px;
    }
  }
  